/* 
 * elements/media
 ? default styling for image related tags
*/

// responsive image
img {
  max-width: 100%;
  height: auto;
}

img[width],
img[height] {
  max-width: none;
}

// reset figure
figure {
  margin: inherit;
}
