/* 
 * tools/visually-hidden
 ? little helper to hide any html node from your eyes
*/

@mixin visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Shorthand Version
@mixin vh($args...) {
  @include visuallyhidden($args...);
}
